version: 2
jobs:
  build:
    working_directory: ~/gitsrc
    docker:
      - image: circleci/node:jessie-browsers
    environment:
      JVM_OPTS: -Xmx3200m
      NODE_ENV: false
    steps:
      - checkout
      - run:
          name: karma-cli
          command: npm install -g karma-cli
      - restore_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          name: npm install
          command: npm install
      - run:
          name: run test
          command: npm run test.circle
      - save_cache:
          key: dependency-cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - .node_modules
